/* ================= CONTAINER ================= */

.message{
    text-align: center;
    color: rgb(172, 0, 0);
    margin: 10px;
}
.orderLayout{
    display: grid;
    grid-template-columns: 260px 1fr;
    gap: 30px;
    max-width: 1500px;
    margin: 40px auto;
    padding: 0 150px;
}

.orderContainer{
    background-color: white;
    max-width: 1000px;
    margin: 5px auto;
    border: 1px solid #e3e7ed;
    padding: 40px;
    border-radius: 18px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

.orderContainer h1{
    margin-bottom: 25px;
    font-size: 24px;
}


/* ================= FILTER ================= */

.orderFilter{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

.orderFilter button{
    padding: 6px 14px;
    border-radius: 20px;
    border: 1px solid #ddd;
    background: white;
    cursor: pointer;
    transition: 0.2s ease;
    font-size: 12px;
}

.orderFilter button:hover{
    background: #f2f2f2;
}

.orderFilter button.active{
    background: #072161;
    color: white;
    border-color: #072161;
}


/* ================= LIST ================= */

.orderList{
    display: flex;
    flex-direction: column;
    gap: 15px;
}


/* ================= HEADER ================= */

.header{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    padding: 16px 20px;
    padding-left: 30px;
    border-radius: 12px;
    background: #00579a;
    color: white;
    font-weight: 500;
}
.detailLink:hover{
    color: black;
    transition: 0.5s ease;
}

/* ================= ORDER CARD ================= */
.orderRowHeader{
    width: 100%;
    padding: 0 10px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgb(185, 185, 185);
    display: flex;
    justify-content: space-between;
}
.orderId,.detailLink{
    text-decoration: none;
    color: rgb(87, 87, 87);
    font-size: small;
}
.orderRow{
    background: white;
    border-radius: 12px;
    padding: 18px 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.101);
    transition: 0.2s ease;
    color: #131a31;
}

.orderRow:hover{
    transform: translateY(-2px);
    box-shadow: 0 8px 25px rgba(0,0,0,0.08);
}


/* ===== Top Info Grid ===== */

.orderInfo{
    display: grid;
    padding-left: 10px;
    grid-template-columns: 2fr 1fr 1fr;
    align-items: center;
    gap: 10px;
}
.orderStatus{
    margin-left: 30px;
}

.receiver p{
    margin: 3px 0;
    font-size: 14px;
    word-break: break-word;
}

.orderInfo > p:nth-child(2){
    font-weight: 600;
}


/* ================= BUTTON SECTION ================= */

.orderButtons{
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    border-top: 1.1px solid rgb(185, 185, 185);
    padding-top: 15px;
    padding-right: 10px;
}

.orderButtons button{
    padding: 7px 14px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s ease;
    font-size: 13px;
}

/* Reorder */
.reOrder{
    border: 1px solid #131a31;
    color: #131a31;
    background-color: white;
}

.reOrder:hover{
    background: #333;
    color: white;
}

.cancelOrder{
    background-color: rgb(228, 0, 0);
    color: white;
    border: none;
}

.cancelOrder:hover{
    background: rgb(113, 33, 26);
    color: white;
}

.cancelOrder:disabled{
    background: #ccc;
    border: none;
    color: rgb(114, 114, 114);
    cursor: not-allowed;
}

@media (max-width: 1000px){
    .orderRowHeader{
        width: 100%;
        padding: 0 10px;
        padding-bottom: 20px;
        margin-bottom: 10px;
        border-bottom: 1px solid rgb(185, 185, 185);
        display: block;
    }
    .orderLayout{
        grid-template-columns: 1fr;
        padding: 2.5%;
    }
}

/* ================= MOBILE RESPONSIVE ================= */

@media (max-width: 708px){
    .orderLayout{
        display: block;
        padding: 2%;
    }
    .orderId{
        width: 100%;
    }
    .detailLink{
        width: 100%;
        float: left;
        padding-bottom: 10px;
    }

    .orderContainer{
        padding: 40px 20px;
    }
    .header{
        display: none;
    }
    .detailLink{
        float: left;
        width: 100%;
        padding-bottom: 10px;
    }
    .orderRow{
        padding: 20px;
    }
    .orderInfo{
        grid-template-columns: 1fr;
        gap: 6px;
    }
    .orderStatus{
        margin: 0px;
    }
    .orderButtons{
        padding-right: 0px;
        justify-content: stretch;
        flex-direction: column;
    }

    .orderButtons button{
        width: 100%;
    }

}