.detailContainer{
    width: 90%;
    padding: 3% 6%;
    background-color: white;
    margin: 30px auto;
    border-radius: 30px;
    box-shadow: 3px 3px 3px 3px lightgray;
}
.notfound{
    height: 50dvh;
    padding: 10%;
    text-align: center;
}
.mess{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    color: rgb(178, 30, 30);
}

.detailContent{
    clear: both;
    display: flex;
}
.detailPath{
    margin-bottom: 20px;
    margin-top:30px;
    margin-left: 5%;
}
.detailLink{
    text-decoration: none;
}
.detailLink:hover{
    color: rgb(185, 174, 22);
}
.imageBox{
    width: 35%;
    display: block;
}
.imageView{
    max-width: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
}
.imageView .currentShow{
    border: 1px solid black;
    border-radius: 5px;
    aspect-ratio: 1/1;
    object-fit: cover;
    max-width: 100%;
    min-width: 100%;
}
.imageList{
    margin-top: 10px;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
}
.imagePreview{
    min-height: 50px;
    max-height: 50px;
    width: 50px;
}
.onShow{
    border: solid 1px black;
}
.descriptionBox{
    width: 65%;
    padding-left: 5%;
}
.productName{
    width: 100%;
    font-size: 45px;
}
.productId{
    margin-left: 10px;
}
@media(max-width: 800px){
    .detailContainer{
        padding-top: 5%;
        font-size: smaller;
    }
    .detailContent{
        display: block;
    }
    .detailPath{
        margin-top: 20px;
        margin-bottom: -10px;
    }
    .imageBox{
        width: 95%;
        margin: 0 2.5%;
        margin-bottom: 30px;
    }
    .descriptionBox{
        width: 95%;
        margin: 0 2.5%;
        margin-bottom: 30px;
    }
    .productName{
        width: 100%;
        display: inline;
        font-size: 35px;
    }
}