.detailContainer{
    width: 80%;
    padding: 3% 6%;
    background-color: white;
    margin: 30px auto;
    border-radius: 30px;
    box-shadow: 3px 3px 3px 3px lightgray;
}
.notfound{
    height: 50dvh;
    padding: 10%;
    text-align: center;
}
.mess{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    color: rgb(178, 30, 30);
}

.detailContent{
    clear: both;
    display: flex;
}
.detailPath{
    margin-bottom: 20px;
    margin-top:30px;
    margin-left: 5%;
}
.detailLink{
    text-decoration: none;
    transition: 0.3s;
}
.detailLink:hover{
    transition: 0.3s;
    color: #f2cb0e;
}
.imageBox{
    width: 40%;
    display: block;
}
.imageView{
    max-width: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
}
.imageView .currentShow{
    transition: 0.3s;
    border: 1px solid black;
    border-radius: 5px;
    aspect-ratio: 1/1;
    object-fit: cover;
    max-width: 100%;
    min-width: 100%;
}
.imageList{
    display: flex;
    margin-top: 5px;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
}
.imagePreview{
    min-height: 90px;
    max-height: 90px;
    width: 90px;
}
.onShow{
    opacity: 0.4;
}
.descriptionBox{
    width: 60%;
    padding-top: 2%;
    padding-left: 5%;
}
.productName{
    width: 100%;
    font-size: 30px;
}
.isRecommend{
    font-size: 30px;
    color: orange;
}
.productPrice{
    margin-top: 20px;
    font-size: 30px;
    color: rgb(191, 0, 0);
}
.rateBox{
    margin-top: 10px;
}
.rateShow{
    margin-left: 5px;
    position: relative;
    display: inline-block;
    font-size: 17px;
    line-height: 1;
}
.productRateFill{
    color: #f2cb0e; 
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
}
.productRate{
    color: lightgray;
}
.sumaryRate{
    font-size: 18px;
    color: black;
    border-bottom: 1px solid black;
}
.productQuantity{
    font-size: 18px;
    margin-left: 10px;
    border-left: 2px solid gray;
    padding-left: 10px;
}
.description{
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    max-height: 100px;
    overflow-y: hidden;
}
.showAll{
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
}
.descriptionHeader{
    background-color: #b1d4e0;
    height: 40px;
}
.descriptionTitle{
    line-height: 40px;
    margin-left: 10px;
}
.productDescription{
    font-size: 16px;
    margin-top: 10px;
    line-height: 1.3;
    margin-left: 10px;
}
.productDescription br{
    line-height: 2.5;
}
.name{
    color: gray;
}
.productMaterial{
    font-size: 16px;
    margin-top: 10px;
    line-height: 1.4;
    margin-left: 10px;
}
@media(max-width: 800px){
    .detailContainer{
        padding-top: 5%;
        font-size: smaller;
    }
    .detailContent{
        display: block;
    }
    .detailPath{
        margin-top: 20px;
        margin-bottom: -10px;
    }
    .imageBox{
        width: 95%;
        margin: 0 2.5%;
        margin-bottom: 30px;
    }
    .descriptionBox{
        width: 95%;
        margin: 0 2.5%;
        margin-bottom: 30px;
    }
    .productName{
        width: 100%;
        display: inline;
        font-size: 35px;
    }
}