.imageView{
    max-height: 400px;
    min-height: 400px;
    max-width: 400px;
    min-width: 400px;
    align-items: center;
    border: 1px solid black;
    background-color: lightgray;
}
.image{
    margin: auto auto;
    max-height: 100%;
    min-height: 100%;
    max-width: 100%;
}
.imagesList{
    max-width: 300px;
    display: flex;
    overflow-x: scroll;
    height: 80px;
    align-items: center;
}

.onShow{
    border: 1px solid black;
}

.imagePreview{
    height: 100%;
    margin: 0 5px;
}