.product_card{
    display: block;
    width: 200px;
    min-height: 200px;
    padding: 0;
    margin: 20px;
    text-decoration: none;
    border: 0.5px solid gray;
}
.product_card:hover{
    scale: 1.03;
    transition: 0.5s;
}
.product_thumb{
    max-width: 100%;
    min-width: 100%;
    max-height: 200px;
    object-fit: cover;
}
.product_name{
    color: black;
    margin-top: 10px;
    font-size: 15px;
    margin-bottom: 10px;
}
.product_price{
    margin-bottom: 10px;
    color: rgb(187, 4, 4);
}
