.product_card{
    display: block;
    width: 250px;
    padding: 0;
    margin: 20px;
    padding-bottom: 10px;
    text-decoration: none;
    border-radius: 10px;
}
.product_card:hover{
    box-shadow: 5px 5px 5px rgba(75, 75, 111, 0.3);
    transition: 0.3s;
}
.product_thumb{
    max-width: 100%;
    min-width: 100%;
    max-height: 250px;
    min-height: 250px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}
.product_name{
    color: black;
    margin-top: 10px;
    font-size: 19px;
    margin-bottom: 10px;
    margin-left: 10px;
}
.product_price{
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 17px;
    color: rgb(194, 45, 45);
}
.product_buttons{
    display: flex;
    width: 100%;
    padding: 0 10px;
}
.buy_now{
    width: 80%;
    height: 40px;
    /*background-image: linear-gradient(#00579a, #072161);*/
    background-color: lightgray;
    border: none;
    color: #131a31;
    font-size: 17px;
    border-radius: 5px;
}
.buy_now:hover{
    color: lightgray;
    background-color: #131a31;
    scale: 1.04;
    transition: 0.3s
}
.add_to_cart{
    width: 40px;
    height: 40px;
    margin-left: 10px;
    border: none;
    height: 40px;
    align-items: center;
    background-color: #fdff9f;
    border-radius: 5px;
}
.add_to_cart:hover{
    scale: 1.04;
    transition: 0.3s;
}
.cart_icon{
    width: 28px;
    height: 28px;

}