.product_card{
    display: block;
    min-width: 190px;
    max-width: 190px;
    margin: 10px;
    padding: 0;
    padding-bottom: 10px;
    text-decoration: none;
    border-radius: 10px;
    text-align: left;
    background-color: white;
}
.product_card:hover{
    box-shadow: 5px 5px 5px 5px rgba(75, 75, 111, 0.2);
    transition: 0.3s;
}
.thumb_view{
    border-radius: 8px 8px 0 0;
    display: inline-block;
    position: relative;
}
.sold_out{
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px 8px 0 0;
}
.out_stock{
    filter:grayscale(0.3);
}
.product_thumb{
    display: block;
    max-width: 100%;
    min-width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}
.product_name{
    color: black;
    margin-top: 10px;
    font-size: 15px;
    margin-bottom: 5px;
    margin-left: 10px;
}
.product_price{
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 17px;
    color: rgb(194, 45, 45);
}
.product_buttons{
    display: flex;
    width: 100%;
    padding: 0 10px;
}
.buy_now{
    width: 80%;
    height: 40px;
    /*background-image: linear-gradient(#00579a, #072161);*/
    background-color: white;
    border: solid 0.5px #00579a;
    color:#00579a;
    font-size: 17px;
    border-radius: 5px;
}
.buy_now:hover{
    color: white;
    background-color: #003762;
    border: solid 0.5px #003762;
    scale: 1.04;
    transition: 0.3s
}
.add_to_cart{
    width: 40px;
    height: 40px;
    margin-left: 10px;
    border: none;
    height: 40px;
    align-items: center;
    background-color: #aecadc;
    border-radius: 5px;
}
.add_to_cart:hover{
    scale: 1.04;
    transition: 0.3s;
    background-color: #adbec9 ;
}
.cart_icon{
    font-size: 30px;
    color: black;
}
@media (max-width: 400px){
    .product_card{
        min-width: 43%;
        max-width: 43%;
        margin: 2%;
    }
    .product_name, .product_price, .buy_now, .add_to_cart{
        font-size: small;
    }
    .product_thumb{
        aspect-ratio: 1/1;
    }
}