.adminDashboard{
    padding-top: 50px;
    min-width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    overflow: hidden;
    right: 0;
    padding-right: 40px;
}
.saleSumary{
    padding-top: 50px;
    width: 30%;
    height: 120px;
    font-size: 23px;
    display: flex;
    gap: 13px;
    margin-top: 30px;
}
.saleTotal{
    margin-top: 10px;
    margin-right: 20px;
    color: #131a31;
}
.orderSumary{
    font-size: 17px;
    color: #1d284b;
}
.sumTitle{
    color: gray;
    scale: 0.6;
}
.pieChart{
    text-align: center;
    width: 35%;
    height: 300px;
}
.lineChart{
    color: black;
    margin-top: -20px;
    width: 35%;
    height: 200px;
    text-align: center;
    z-index: 1000;
}
.barChart1{
    padding: 0px;
    width: 35%;
    height: 300px;
    margin-top: 30px;
    text-align: center;
}
@media (max-width: 800px){
    .adminDashboard{
        display: block;
        overflow-y: hidden;
        padding-bottom: 50px;
        max-width: 100%;
    }
    .saleSumary{
        padding: auto;
        margin-top: 0;
        width: 100%;
        justify-content: space-around;
        gap: 0px;
    }
    .saleSumary h1, h2{
        font-size: 30px;
    }
    .lineChart, .barChart1, .pieChart{
        margin-top: 60px;
        z-index: -1;
        width: 100%;
        height: 300px;
    }
}