.adminContainer{
    min-height: 100dvh;
    min-width: 100dvw;
    max-width: calc(100dvw + 180px);
    overflow-y: hidden;
    background-color: #f0f0f0;
}
.adminBody{
    display: flex;
}
.rightBody{
    transition: 0.5s;
    padding-left: 50px;
    padding-right: 30px;
}