
body {
  overflow-x: hidden;
}
.adminContainer{
    min-height: 100dvh;
    min-width: 100dvw;
    max-width: calc(100dvw + 180px);
    overflow-x: hidden;
    background-color: #f0f0f0;
}
.adminBody{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.rightBody{
    transition: 0.5s;
    margin: 0;
    overflow: hidden;
    padding-left: 50px;
}
.backIcon{
    color: #131a31;
    text-decoration: none;
    position: relative;
    left: 0px;
    top: 80px;
    font-size: 17px;
    font-weight: 500;
}