/* nền mờ */
.formBackground{
    position: fixed;
    inset: 0;

    background: rgba(0,0,0,0.45);
    filter:blur();
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* form card */
.addProductForm{
    width: 100%;
    max-width: 520px;
    background: white;
    border-radius: 14px;

    box-shadow: 0 12px 30px rgba(0,0,0,0.18);

    overflow: hidden;

    animation: formAppear 0.2s ease;
}

/* animation */
@keyframes formAppear{
    from{
        opacity:0;
        transform: translateY(20px) scale(0.96);
    }
    to{
        opacity:1;
        transform: translateY(0) scale(1);
    }
}

/* header */
.formHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 18px 22px;

    background: #001d5d;
    color: white;
}

.addProductTitle{
    font-size: 18px;
    font-weight: 600;
}

/* close button */
.btnClose{
    border: none;
    background: transparent;

    color: white;
    font-size: 18px;

    cursor: pointer;

    width: 30px;
    height: 30px;

    border-radius: 6px;

    transition: 0.2s;
}

.btnClose:hover{
    background: rgba(255,255,255,0.15);
}

/* body */
.formBody{
    padding: 24px;
}

/* form layout */
.formBody form{
    display: flex;
    flex-direction: column;
    gap: 14px;
}

/* input */
.formBody input,
.formBody select,
.formBody textarea{
    width: 100%;
    padding: 10px 12px;

    border-radius: 8px;
    border: 1px solid #e5e7eb;

    font-size: 14px;
}

.formBody input:focus,
.formBody textarea:focus{
    outline: none;
    border-color: #111827;
}

/* submit button */
.formSubmit{
    margin-top: 10px;

    background: #111827;
    color: white;

    border: none;
    padding: 10px;

    border-radius: 8px;

    font-weight: 500;

    cursor: pointer;
}

.formSubmit:hover{
    background: #000;
}
.previewImageBox{
    display: flex;
    overflow-x: scroll;
    gap: 6px;
}
.productImagePreview{
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.submitProduct{
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: #001d5d;
    color: white;
}
.submitProduct:hover{
    background-color: #111827;
}
.submitProduct:disabled{
    background-color: gray;
    color: white;
}
.closeForm{
    height: 40px;
    border-radius: 10px;
    border: none;
}
.closeForm:hover{
    background-color: gray;
}
@media (max-width: 1000px){
    .addProductForm{
        width: 80%;
    }
}