.cards{
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    z-index: 1000;
}
.card{
    display:block;
    padding: 40px;
    text-align: left;
    min-width: 300px;
    max-width: 300px;
    min-height: 350px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: #051338;
    border-radius: 10%;
    color: white;
}
.cardContent{
    margin-top: 40px;
    font-size: 20px;
}
.card:hover{
    transition: 1s;
    background-image: linear-gradient(#e0701d,#f2cb0e);
    color: #131a31;
}
@keyframes scrollout{
    from{
        transform: none;
        opacity: 1;
    }
    to{
        transform: translateY(-100%);
    }
}
@keyframes scrollin{
    from{
        transform: translateY(100%);
        opacity: 0;
    }
    to{
        transform: none;
        opacity: 1;
    }
}
.card:hover .cardContent{
    animation: scrollout 0.5s forwards;
    animation: scrollin 0.5s forwards;
    transition: 1s;
}