.carousel{
  width: 100%;
  overflow: hidden;
  position: relative;
}
.carousel_track{
  width: 100%;
  display: flex;
  transition: 0.7s ease;
}

.carousel_track:hover .carousel_link{
  position: absolute;
  transform: translateY(none);
  bottom: 0;
  height: 100px;
  background-color: black;
  width: 100%;
  display: block;
  z-index: 1000;
}
.carousel_slide{
  min-width: 100%;
}
.carousel_image{
  width: 100%;
  object-fit: cover;
}
.carousel_nav{
  position: absolute;
  top: 45%;
  background-color: rgb(210, 210, 210);
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  font-size: 22px;
  justify-content: center;
  opacity: 0.5;
}
.carousel_nav--prev{
  left: 20px;
}
.carousel_nav--next{
  right: 20px;
}

.carousel_indicators{
  position: absolute;
  bottom: 12px;
  left: 50%;
  display: flex;
  gap: 8px;
}
.carousel_indicator{
  width: 10px;
  height: 10px;
  border-radius: 6px;
  border: none;
  background: rgba(192, 203, 239, 0.6);
  padding: 0;
  opacity: 0.5;
}

.carousel_indicator.active{
  background: rgba(66, 74, 120, 0.95);
}
