footer{
    width: 100%;
    clear: both;
    bottom: 0px;
    padding: 20px 100px;
    background-color: #072161;
}
@media (max-width: 1000px){
    footer{
        padding: 100px 20px;
        clear: both;
    }
}