/* HEADER */
header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    color: #f0f0f0;
    background-color: #00579a;
    padding: 0 15%;
    box-sizing: border-box;
}

.headerMenu {
    display: flex;
    list-style: none;
    padding: 0;
}
.headerMenuItem {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.headerMenuLink {
    text-decoration: none;
    color: #f0f0f0;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 6px;
    height: 45px;
    margin-left: 5px;
}
.loginIcon, .registerIcon {
    height: 60%;
}

.headerMenuLink:hover {
    color: #ffd700;
    transition: 0.5s;
}
