.loginHeader{
    position: relative;
    width: 100%;
    text-align: right;
    top: 10px;
    right: 20px;
}
.loginHamburger{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
}
.loginMenu{
    display: flex;
    position: absolute;
    right: 40px;
    top: 20px;
    transform: translateX(200%);
}
.loginItem{
    margin-bottom: 10px;
    list-style: none;
}
.loginItem{
    margin-right: 15px;
}
.loginLink{
    text-decoration: none;
    color: #b1d4e0;
}
