nav{
    position: fixed;
    top: 45px;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #f0f0f0;
    z-index: 1000;
    display: flex;
    align-items: center;
    padding: 0 200px;
    box-sizing: border-box;
    box-shadow: 0 3px 5px #dddcdc;
}

.navLogo{
    height: 40px;
    margin-right: 20px;
}

.menu{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: auto;
    gap: 0;
}
.menuItem{
    height: 60px;
    margin: 0;
    display: block;
}


.menuLink{
    display: flex;         
    align-items: center;
    height: 100%;
    padding: 0 20px;
    text-decoration: none;
    color: #00579a;
    font-size: 17px;
    box-sizing: border-box;
}


.menuItem:hover {
    background-color: #00579a;
}
.menuItem:hover .menuLink {
    color: #f0f0f0;
}
