.menu{
    text-align: center;
    line-height: 40px;
    background-color: #fff;
    color: #00569a;
}

.menuitem .navitem{
    display: inline-block;
    flex-wrap: nowrap;
}
.menuitem .navitem:hover{
    color: #fff;
    background-color: #00569a;
}
.navlink{
    margin-left: 30px;
    margin-right: 30px;
    font-size: 20px;
}
header{
    background-color: white;
    width: 100%;
    padding: 10px;
}
header .logo{
    width: 150px;
    margin: auto;
}