nav{
    top: 45px;
    left: 0;
    width: 100%;
    background-color: #f0f0f0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0 10%;
    box-sizing: border-box;
    box-shadow: 0 3px 5px #dddcdc;
    overflow-x: hidden;
}

.navLogo{
    height: 40px;
    margin-right: 1%;
}

.menu{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: auto;
    gap: 0;
    flex-wrap: nowrap;
}
.menuItem{
    height: 60px;
    margin: 0;
    display: block;
}


.menuLink{
    display: flex;         
    align-items: center;
    height: 100%;
    padding: 0 20px;
    text-decoration: none;
    color: #00579a;
    font-size: 17px;
    box-sizing: border-box;
}


.menuItem:hover {
    background-color: #00579a;
}
.menuItem:hover .menuLink {
    color: #f0f0f0;
}
.hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;
}
@media (max-width: 768px) {
    nav{
        left: 0;
        width: 100%;
        background-color: #f0f0f0;
        align-items: center;
        padding: 0 15%;
        box-shadow: 0 3px 5px #dddcdc;
        overflow-x: hidden;
    }
    .navLogo{
        height: 40px;
        margin-right: 1%;
    }
  .menu {
    display: none; /* Ẩn menu */
  }

  .hamburger {
    display: block; /* Hiện nút menu */
  }
}