
.shortedHeader{
    width: 100%;
    background-color: #ffffff;
    height: 60px;
    padding: 30px;
}

.shortedLogo{
    display: flex;
    align-items: center;
    gap: 8px;
    color: #072161;
}

.shortedLogo img{
    width: 40px;
    height: 40px;
    align-items: center;
}

.hamburger{
    width: 40px;
    height: 40px;
    text-align: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
    color: #072161;
    border: 1px solid #072161;
    border-radius: 20%;
    padding-bottom: 10px;
}

.hiddenNav{
    width: 100dvw;
    height: 100dvh;
    float: right;
    justify-content: right;
    background-color: rgba(0, 0, 0, 0.5);
}

.hiddenList{
    transition: 0.5s ease;
    border-radius: 0 0 0 20px;
    list-style: none;
    float: right;
    background-color: #ffffff;
    max-width: 45%;
    min-width: 45%;
}

.hiddenLink{
    display: flex;
    min-width: 100%;
    padding: 10px 20px;
    justify-content: left;
    text-decoration: none;
    color: #072161;
    align-items: center;
    box-sizing: border-box;
}
.hiddenLink.final{
    border-radius: 0 0 0 20px;
    padding-bottom: 15px;
}
.hiddenLink:hover{
    background-color: #072161;
    color: #ffffff;
    transform: 0.5s ease;
}

.hiddenIcon{
    height: 30px;
    margin-right: 5px;
}