.shortedHeader{
    width: 100%;
    background-color: #f0f0f0;
    height: 60px;
    padding: 30px;
}
.shortedLogo{
    display: flex;
    align-items: center;
    gap: 8px;
    color: #072161;
}
.shortedLogo img{
    width: 40px;
    height: 40px;
    align-items: center;
}
.hamburger{
    width: 40px;
    height: 40px;
    text-align: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
    color: #072161;
    border: 1px solid #072161;
    border-radius: 20%;
    padding-bottom: 10px;
}
.hiddenNav{
    width: 100%;
    float: right;
    transition: 0.5s ease;
    justify-content: right;
}
.hiddenList{
    list-style: none;
    float: right;
    background-color: #f0f0f0;
    max-width: 50%;
    min-width: 50%;
    padding: 10px;
}
.hiddenItem{
    padding: 10px;
}
.hiddenLink{
    text-decoration: none;
    color: #072161;
    align-items: center;
}
.hiddenIcon{
    height: 30px;
    margin-right: 5px;
}