.slides{
    overflow: hidden;
    padding: auto;
}
.slide_track{
    width: 40%;
    height: 400px;
    display: flex;
    transition: 1s ease;
    padding: 45px 0;
}
.slide{
    margin-left: 30px;
    margin-right: 30px;
    padding: 0px;
}
.slideBlock{
    text-decoration: none;
    color: black;
    display: block;
    overflow: hidden;
    text-align: center;
    object-fit: cover;
    width: 250px;
    height: 310px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    background-color: #fff;
}
.slideImage{
    text-align: center;
    max-height: 250px;
    min-height: 250px;
    max-width: 250px;
    border-radius: 20px 20px 0 0;
    margin-bottom: 0px;
}
.caption{
    background-color: #fff;
    text-align: center;
    margin-top: 0px;
    padding: 10px;
    border-radius: 0 0 20px 20px;
    text-decoration: none;
    line-height: 35px;
    font-family: Arial, Helvetica, sans-serif;
}
.slideBlock:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3), 0 12px 40px 0 rgba(0, 0, 0, 0.29);
    background-color: none;
}
.slideBlock:hover .caption{
    background-color: none;
    color: #e0701d;
}
.statusController{
    margin-left: 50%;
    margin-right: 50%;
    display: flex;
    opacity: 0.5;
}
.prev{
    min-width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}
.next{
    min-width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 5px;
}