.slides{
    width: 100%;
    overflow: hidden;
    padding: auto;
}
.slide_track{
    width: 100%;
    display: flex;
    transition: 1s ease;
    padding: 45px 0;
    text-align: center;
}
.slide{
    max-width: 30%;
    min-width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0px;
}
.slideBlock{
    text-decoration: none;
    color: black;
    display: block;
    overflow: hidden;
    text-align: center;
    width: 100%;
    height: 310px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    background-color: #fff;
}
.slideImage{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 80%;
    max-width: 250px;
    border-radius: 20px 20px 0 0;
    margin-bottom: 0px;
}
.caption{
    background-color: #fff;
    text-align: center;
    font-size: 13px;
    margin-top: 0px;
    padding: 10px;
    border-radius: 0 0 20px 20px;
    text-decoration: none;
    line-height: 35px;
    font-family: Arial, Helvetica, sans-serif;
}
.slideBlock:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3), 0 12px 40px 0 rgba(0, 0, 0, 0.29);
    background-color: none;
}
.slideBlock:hover .slideImage{
    height: 100%;
    transition: 0.5s;
}
.slideBlock:hover .caption{
    height: 20%;
    transform: translateY(-100%);
    opacity: 0.9;
    color: #e0701d;
}
.statusController{
    margin-left: 50%;
    margin-right: 50%;
    display: flex;
    opacity: 0.5;
}
.prev{
    min-width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}
.next{
    min-width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 5px;
}
@media (max-width: 760px){
    .slides{
        width: 100%;
        overflow: hidden;
        padding: auto;
    }
    .slide_track{
        width: 100%;
        display: flex;
        transition: 1s ease;
        padding: 45px 0;
    }
    .slide{
        max-width: 150px;
        min-width: 150px;
        margin-left: 15px;
        margin-right: 15px;
        padding: 0px;
    }
    .slideBlock{
        text-decoration: none;
        color: black;
        display: block;
        overflow: hidden;
        text-align: center;
        object-fit: cover;
        width: 150px;
        height: 210px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 20px;
        background-color: #fff;
    }
    .slideImage{
        text-align: center;
        max-height: 150px;
        min-height: 150px;
        max-width: 150px;
        border-radius: 20px 20px 0 0;
        margin-bottom: 0px;
    }
    .caption{
        background-color: #fff;
        font-size: 10px;
        text-align: center;
        margin-top: 0px;
        border-radius: 0 0 20px 20px;
        text-decoration: none;
        line-height: 35px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .slideBlock:hover{
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3), 0 12px 40px 0 rgba(0, 0, 0, 0.29);
        background-color: none;
    }
    .slideBlock:hover .caption{
        background-color: none;
        color: #e0701d;
    }
    .statusController{
        margin: 0 40%;
        display: flex;
        opacity: 0.5;
    }
    .prev{
        min-width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 5px;
    }
    .next{
        min-width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-left: 5px;
    }
}