.loginForm{
    width: 450px;
    background-color: white;
    box-shadow: 10px 2px 15px 10px rgba(0,0,0,0.3), -5px 2px 15px 10px rgba(0,0,0,0.3);
    border-radius: 40px;
    padding: 40px 0;
    text-align: center;
    margin: 100px;
    margin-bottom: 200px;
}
.loginGroup{
    width: 80%;
    margin: auto;
}
.loginTitle{
    width:50%;
    float: left;
    color: #072161;
    opacity: 0.5;
    margin-top: 0px;
    transform: 0.5s ease;
}
.active{
    color: #072161;
    opacity: 1;
    transform: 0.5 ease;
}
.input{
    clear: both;
    height: 45px;
    border: 0.5px solid;
    padding: 0 20px;
    border-radius: 20px;
    width: 90%;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}
label{
    float: left;
    margin-left: 20px;
    margin-bottom: 10px;
}
.error{
    width: 100%;
    clear: both;
    float: left;
    margin-left: 30px;
    text-align: left;
    font-size: 13px;
    color: rgb(181, 30, 30);
    margin-bottom: 18px;
    margin-top: 7px;
}
.first{
    width: 100%;
    margin-top: 17px;
    margin-bottom: 8px;
    font-size: 13px;
}
@media (max-width: 1000px){
    .loginForm{
        width: 50%;
    }
}
@media(max-width: 700px){
    .loginForm{
        width: 85%;
    }
}
