*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.container{
  margin-top: 110px;
}
.shortedHeading{
  display: none;
}
@media (max-width: 760px) {
  .heading{
    display: none;
  }
  .shortedHeading{
    display: block;
  }
  .container{
    margin-top: 60px;
  }
}
