*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.heading{
    display:block;
}
.shortedHeading{
    display: none;
}
.mainContainer{
    background-color: #f0f0f0;
    padding-top: 105px;
}
@media (max-width: 1000px) {
    .heading{
        display: none;
    }
    .shortedHeading{
        display: block;
    }
    .homeContainer, .mainContainer{
        padding-top: 60px;
    }
    p{
        font-size: 15px;
    }
    h1{
        font-size: 20px;
    }
}