.homeContainer{
    width: 100%;
}
.carousel{
    width: 100%;
    float: left;
}
.coreValues{
    width: 50%;
    height: 400px;
    padding: 50px 0;
    float: left;
}
.coreTitle{
    color: #072161;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    margin-left: 150px;
}
.coreList{
    margin-left: 150px;
    text-align: left;
    margin-top: 20px;
    padding-right: 100px;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000;
}
.coreList li{
    margin-bottom: 10px;
}
.status{
    width: 50%;
    float: right;
}
@media (max-width: 1000px) {
    .carousel{
        width: 100%;
        height: auto;
        float: none;
    }
    .coreValues, .status{
        width: 100%;
        float: none;
        height: auto;
    }
    .coreTitle{
        margin-left: 20px;
        text-align: center;
    }
    .coreList{
        margin-left: 20px;
        padding-right: 20px;
        text-align: center;
    }
    .status{
        width: 100%;
    }
    .slide_track{
        transform: translateX(index*(250+60))
    }
}