@keyframes spin{
    from {
    transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.shortedHeading{
  display: none;
}
.homeContainer{
    width: 100%;
    margin-top: 105px;
    overflow: hidden;
}
.carousel{
    width: 100%;
    float: left;
}
.row1{
    width: 100%;
}

.rotatedBackground .rotated{
    width: 300px;
    background-size: cover;
    animation: spin 10s linear infinite;
}
.backgroundLogo{
    width: 100px;
    text-align: right;
    margin-right: 100px;
    position: absolute;
    top: 30%;
    right: 0;
    z-index: 1;
    opacity: 0.5;
}
.rotatedBackground{
    width: 300px;
    text-align: right;
    margin-right: 30px;
    width: 100%;
    position: absolute;
    top: 20%;
    right: 0;
    z-index: -1;
    opacity: 0.4;
}
.coreValues{
    position: relative;
    width: 50%;
    height: 400px;
    padding: 50px 0;
    float: left;
    background: none;
}
.note{
    float: left;
    margin-right: 10px;
    color: #e0701d;
    font-size: 30px;
    font-weight: 900;
}
.coreTitle{
    color: #072161;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
    margin-left: 100px;
    margin-top: 10px;
}
.coreList{
    margin-left: 100px;
    list-style: none;
    text-align: left;
    margin-top: 20px;
    padding-right: 100px;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #000;
}
.coreList li{
    margin-bottom: 10px;
}
.status{
    width: 50%;
    float: right;
    background-image: url('../public/OnlyLogo.png');
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    background-blend-mode:color;

}

.row2{
    text-align: center;
    width: 100%;
    float: left;
    margin-top: 30px;
    background-image: linear-gradient(#00579a,#43b0f1);
    padding: 30px;
}
.row2Title{
    color: #b1d4e0;
    margin-bottom: 0px;
}

.row2Content{
    transform: translateY(-100%);
    opacity: 0;
    transition: 0.5s ease;
}
.row2:hover .row2Content{
    opacity: 10;
    transform: none;
    display: block;
    margin-top: 20px;
    color: #fff;
    font-size: 20px;
}
.row2:hover .row2Title{
    color: #fff;
}
@media (max-width: 1000px) {
    .heading{
        display: none;
    }
    .shortedHeading{
        display: block;
    }
    p{
        font-size: 15px;
    }
    h1{
        font-size: 20px;
    }
    .homeContainer{
        margin-top: 0px;
    }
    .rotatedBackground{
        width: 100%;
        justify-content: center;
        z-index: -1;
        opacity: 0.3;
    }
    .rotatedBackground .rotated{
        width: 300px;
        background-size: cover;
        text-align: center;
        animation: spin 10s linear infinite;
    }
    .backgroundLogo{
        width: 300px;
        z-index: 1;
        opacity: 0.5;
    }
    .carousel{
        width: 100%;
        height: auto;
        float: none;
        margin-bottom: 0px;
    }
    .coreValues, .status{
        padding: 20px;
        width: 100%;
        float: none;
        height: auto;
    }
    .coreTitle{
        margin-left: 20px;
        text-align: center;
    }
    .coreList{
        margin-left: 20px;
        padding-right: 20px;
        text-align: left;
    }
    .status{
        margin-top: 10px;
    }
}
