/* ===== CONTAINER ===== */
.usersContainer {
    width: 100%;
    padding-top: 130px;
    padding-bottom: 100px;
}

/* ===== TITLE ===== */
.title {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #111827;
}
.tableWrapper {
    width: 100%;
    padding-left: 5%;
    padding-right: calc(5% + 35px);
    display: flex;
    justify-content: center;
}
.table {
    width: 90%;
    background: #fff;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}

/* ===== HEADER ===== */
.userHeader {
    height: 60px;
    display: grid;
    grid-template-columns: 80px 2fr 1fr 1fr 1fr 1.5fr 1fr;
    background: #111827;
    color: #f9fafb;
    padding: 14px 20px;
    font-weight: 600;
}

.userHeader h4 {
    margin: 0;
    line-height: 33px;
}

/* ===== BODY ===== */
.userBody {
    display: flex;
    flex-direction: column;
}

/* ===== EMPTY ===== */
.empty {
    text-align: center;
    padding: 20px;
    color: #9ca3af;
}