.loginContainer{
    width: 100%;
    min-height: 100%;
    float: left;
    background-image: linear-gradient(#00579a, #072161);
    justify-items: center;
    justify-content: center;
}
.loginForm{
    width: 450px;
    height: 500px;
    background-color: rgba(32, 58, 255, 0.5);
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.2), -5px 5px 15px 5px rgba(0,0,0,0.2);
    border-radius: 40px;
    margin: 100px;
}

.loginHeader{
    display: grid;
    position: fixed;
    top: 10px;
    right: 30px;
}
.loginHamburger{
    color: #b1d4e0;
    font-size: 20px;
    float: right;
}
.loginItem{
    list-style: none;
}
.loginLink{
    text-decoration: none;
    color: #b1d4e0
}
@media(max-width: 1000px){
    .loginHeader{
        display: flex;
        position: fixed;
        top: 10px;
        left: 30px;
    }
    .loginMenu{
        display: flex;
        float: left;
    }
}