.loginContainer{
    overflow: hidden;
    width: 100%;
    min-height: 100%;
    float: left;
    background-image: linear-gradient(#00579a, #072161);
    justify-items: center;
    justify-content: center;
    margin: 0px;
}
.loginForm{
    width: 450px;
    height: 500px;
    background-color: rgba(32, 58, 255, 0.5);
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.2), -5px 5px 15px 5px rgba(0,0,0,0.2);
    border-radius: 40px;
    margin: 100px;
}


@media(max-width: 1000px){
    .loginContainer{
        height: 800px;
        overflow: hidden;
    }
    .loginForm{
        width: 80%;
        height: 500px;
    }

}