/*rgba(32, 58, 255, 0.5)*/
.loginContainer{
    overflow: hidden;
    width: 100%;
    height: 100dvh;
    float: left;
    background-image: linear-gradient(#00579a, #072161);
    justify-items: center;
    justify-content: center;
    margin: 0px;
}
.loginForm{
    width: 450px;
    background-color: white;
    box-shadow: 10px 2px 15px 10px rgba(0,0,0,0.3), -5px 2px 15px 10px rgba(0,0,0,0.3);
    border-radius: 40px;
    padding: 40px 0;
    text-align: center;
    margin: 100px;
    z-index: 100;
}
.loginItem{
    padding-bottom: 10px;
}
.loginItem:hover{
    border-bottom: 3px solid white;
    transition: 0.15s ease-in-out;
}

.loginTitle{
    color: #072161;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
}
.input{
    height: 45px;
    border: 0.5px solid;
    padding: 0 20px;
    border-radius: 20px;
    width: 90%;
    margin-bottom: 20px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}
label{
    float: left;
    margin-left: 20px;
    margin-bottom: 10px;
}
.loginBackground{
    pointer-events: none;
    position: absolute;
    bottom: 0;
    width: 100dvw;
    opacity: 0.9;
    z-index: 0;
}
.loginButton{
    width: 50%;
    height: 40px;
    border-radius: 20px;
    background-color: #072161;
    color: white;
    border: none;
    font-size: 15px;
}
.loginButton:hover{
    background-color: #f2cb0e;
    color: black;
    transition: 0.3s;
}
@media (max-height: 500px){
    @media (max-width: 1000px){
        .loginContainer{
            min-height: 700px;
            overflow: scroll;
        }
        .loginForm{
            width: 450px;
        }
        .loginBackground{
            display: none;
        }
    }
}
@media(max-width: 1000px){
    .loginContainer{
        overflow: hidden;
        height: 100dvh;
    }
    .loginForm{
        width: 80%;
        margin: 200px 0px;
    }
    .loginBackground{
        display: none;
    }
}