/*rgba(32, 58, 255, 0.5)*/
.loginContainer{
    overflow: hidden;
    width: 100%;
    min-height: 100dvh;
    float: left;
    background-image: linear-gradient(#00579a, #072161);
    justify-items: center;
    justify-content: center;
    margin: 0px;
}
.loginBackground{
    pointer-events: none;
    clear: both;
    margin-bottom: -55px;
    margin-top: -240px;
    width: 100dvw;
    opacity: 0.9;
    z-index: 0;
}
.loginButton{
    width: 50%;
    height: 40px;
    border-radius: 20px;
    background-color: #072161;
    color: white;
    border: none;
    font-size: 15px;
}
.loginButton:hover{
    background-color: #f2cb0e;
    color: black;
    transition: 0.3s;
}
@media (max-height: 500px){
    @media (max-width: 1000px){
        .loginContainer{
            min-height: 700px;
            overflow-y: scroll;
        }
        .loginForm{
            width: 90%;
        }
        .loginBackground{
            display: none;
        }
    }
}
@media(max-width: 1000px){
    .loginContainer{
        overflow-y: scroll;
        min-height: 100dvh;
    }
    .loginForm{
        width: 80%;
        margin: 150px 0px;
    }
    .loginBackground{
        display: none;
    }
}