section{
    text-align: center;
}
.mess{
    text-align: center;
    color: rgb(178, 30, 30);
}
.showProducts{
    display: flex;
}

.links{
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}
.link{
    color: #072161;
    text-decoration: none;
}
.filterBox{
    float: left;
    height: 30px;
    border-radius: 20px;
    margin-top: 15px;
    margin-left: 10px;
    font-size: 14px;
    padding: 0 3px;
}

.productsBanner{
    height: 100px;
    margin-top: 100px;
    /* background-image: linear-gradient(#43b0f1,#b1d4e0); */
    text-align: center;
}
.searchBox{
    align-items: center;
    height: 35px;
    margin-top: 15px;
    margin-left: -100px;
    border-radius: 40px;
    border: 1px solid;
    padding:0 20px;
    font-size: 17px;
    width:500px;
    background-color: rgb(244, 244, 244);
    color: black;
}