.mess{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    color: rgb(178, 30, 30);
}

.links{
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}
.link{
    color: #072161;
    text-decoration: none;
}

.filterBox{
    width: 15%;
    font-size: smaller;
    margin-left: 3%;
    float: left;
    border-radius: 20px;
    background-color: white;
    margin-top: 30px;
    margin-bottom: 50px;
    box-shadow: 2px 2px 2px 2px lightgray;
}
.filterIcon{
    font-size: 20px;
}
.filterBoxHeader{
    background-color: #00579a;
    border-radius: 20px 20px 0 0;
    margin-bottom: 10px;
    padding: 15px;
    color: white;
    font-size: smaller;
}

.filterForm{
    padding-left: 20px;
    padding-top: 10px;
}

.filterBoxLabel{
    margin-top: 5px;
    width: 90%;
    height: 28px;
}
.filterBoxInput{
    border: 0.5px solid gray;
    height: 28px;
    margin-top: 5px;
    width: 90%;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 10px;
}
.filterBoxInput[type=text]{
    padding-left: 10px;
}

.productsBanner{
    height: 100px;
    margin-top: 100px;
    /* background-image: linear-gradient(#43b0f1,#b1d4e0); */
    text-align: center;
}
.searchBox{
    align-items: center;
    height: 35px;
    margin-top: 15px;
    margin-left: -100px;
    border-radius: 40px;
    border: 1px solid;
    padding:0 20px;
    font-size: 17px;
    width:500px;
    background-color: rgb(244, 244, 244);
    color: black;
}
.productShow{
    width: 76%;
    min-height: 450px;
    margin: 0 3%;
    float: left;
    background-color: white;
    box-shadow: 2px 2px 2px 2px lightgray;
    padding-top: 20px;
    padding-bottom: 30px;
    border-radius: 20px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 100px;
}
.productList{
    padding: 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    float: left;
    width: 100%;
}
.listTitle{
    margin-top: 20px;
    width: 100%;
    color: #131a31;
}
.filterTitle{
    font-size: 17px;
    margin-bottom: 5px;
}
.applyButton{
    width: 90%;
    text-align: center;
    height: 28px;
    border-radius: 10px;
    margin-top: 3px;
    border: none;
    background-color: #00579a;
    color: white;
}
.applyButton:hover{
    background-color: #003762;
    transition: 0.5s;
}
.cancelButton:hover{
    background-color: lightgray;
    transition: 0.5s;
}
.cancelButton{
    width: 90%;
    text-align: center;
    height: 28px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: none
}

.pagination{
    width: 100%;
    clear: both;
    justify-content: center;
}
.paginateButton{
    width: 30px;
    height: 30px;
    border-radius: 10px;
    background-color: #b1d4e0;
    margin: 3px;
    border: 0.5px solid black;
}

.thisPage{
    background-color: #072161;
    color: white;
}

.toggle{
    height: 41px;
    width: 82px;
    border: 1px solid #072161;
    border-radius: 50px 50px 50px 50px;
    padding: 0px;
    margin: 20px auto;
    margin-right: 70px;
    background-color: #131a31;
}
.toggleMode{
    height: 39px;
    width: 40px;
    border-radius: 50px;
    opacity: 0.3;
    padding: 0.5px;
}
.show{
    transition: 1s;
    opacity: 1;
    background-color: white;
}
@media(max-width: 1000px) {
    .mainContainer{
        font-size: smaller;
        flex-wrap: nowrap;
    }
    .filterBox{
        width: 20%;
    }
    .productShow{
        width: 71%;
    }
    @media(max-width: 800px){
        .mainContainer{
            text-align: center;
            overflow: hidden;
        }
        .filterBox{
            flex-wrap: nowrap;
            text-align: left;
            width: 90%;
            float:left;
            margin: 20px 5%;
        }
        .filterForm{
            text-align: left;
        }
        .filterBoxInput{
            float: left;
            text-align: left;
            width: 95%;
        }
        .filterBoxLabel{
            width: 95%;
            float: left;
        }
        .applyButton, .cancelButton{
            width: 95%;
        }

        .productShow{
            width: 90%;
            margin: 30px auto;
            margin-left: 5%;
            margin-top: 0px;
        }
    }
}

