section{
    text-align: center;
    padding-top: 80px;
    margin-bottom: 80px;
}
.mess{
    text-align: center;
    color: rgb(178, 30, 30);
}
.show_products{
    display: inline-block;
}
.product_card{
    margin: 10px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 20px;
    width: 150px;
    height: 200px;
}
